*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Poppins', sem serifa; ;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 2%;
    display: flex;
    flex-wrap:wrap;
}

.menu-mobile{
    display: none;
}

header{
    background-color:white ;
    padding:20px 0;
    border-bottom:1px solid rgb(200 200 200) ;
}  

.logo{
    color:#16507b ; 
}

.logo h2{
    font-weight:normal ;
    font-size: 20px;
}

.menu{
    width:80% ;
    text-align:right;
}


.menu a{
    color: #124265;
    font-size: 14px;
    text-decoration:none;
    margin-right:20px;
   /*transition:0.4s;*/
}


.menu a:hover{
    color: #007bff;
}

.menu .btn-menu{
    background-color:#007bff;
    display: inline-block ;
    padding:8px 16px;
    color:white;
    border-radius:6px;
}

.menu .btn-menu:hover{
    background-color:#124265 ;
    color:white;
}



/*
section mais
*/

section.main{
    background-image: url('img/tecnologia.jpg');
 padding:70px 0;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

.main_cta{
    width:100%;
    margin:60px 0;
    text-align: center;
}

.main_cta h2{
    color: #04497a ;
    font-size:40px;
}

.main_cta p{
    color:rgb(168, 166, 166) ;
    font-size: 25px;
    margin:10px 0;
}

.main_cta button{
    background-color: #007bff;
    display: inline-block;
    padding:8px 30px;
    color:white;
    border-radius:6px;
    font-size:16px;
    border:0;
    cursor: pointer;
}

.diferenciais{
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single{
    border-radius:10px;
    background-color:white ;
    width:23%;
    margin-right:2%;
    padding:50px 20px;
}

.diferencial-single i{
    color:#124265;
    font: size 25px;;
}

.diferencial-single h2{
    color:#124265;
    margin:10px 0;
    font-size:17px;
}

.diferencial-single p{
    color: gray;
    font-size:14px;
    line-height:30px;
}

.section.sobre{
    padding:80px 0;
}

.chamada-sobre{
    width:100%;
    text-align:center ;
}

.chamada-sobre h2{
    color:#124265;
    text-transform: uppercase;
}

.chamada-sobre p{
    font-size: 14px;
    color:gray;
    margin:10px 0;
}

.conteudo-sobre{
    display: flex;
    flex-wrap: wrap;
} 

.conteudo-sobre p{
    width: 48%;
    margin-right:2%;
    color: #444;
}


.conteudo-sobre span{
    display: inline-block;
    width: 100%;
    margin-top: 10px;

}


.conteudo-sobre i{
    color: #007bff;

}

section.conguistas{
    background: color #f8fbfe; 
    padding:20px 0;

}

.conguista-single{
    width:22%;
    margin-right:3%;
    text-align: center;
    color:#124265 ;
}
.conguista-single h2{ 
    font-size:30px;
    color:#124265;
}

@media screen and (max-width: 768px){
    .diferencial-single{
        width: 100%;
        margin-bottom:20px;
    }

    }  
    .menu-mobile{
        display: block;
    }
    .menu-mobile i{
        cursor: pointer;
        font-size:23px;
        margin:8px;
    }
    .conteudo-sobre p{width:100%; margin:20px 20px ; }
    



